name: CI
on:
  push:
  pull_request:

jobs:
  ci:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.13"]
        os: [ubuntu-22.04] #, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade poetry
      - name: Test build
        run: |
          poetry config virtualenvs.in-project true
          poetry install
          . .venv/bin/activate
          sentieon-cli -h
  formatting:
    strategy:
      fail-fast: true
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade poetry
          poetry install --with dev
      - name: Install the project dependencies
        run: poetry install
      - name: Run black formatter
        run: poetry run black --check --exclude '__pycache__|scripts|sentieon_cli/archive.py' --line-length 79 sentieon_cli
      - name: Run mypy
        run: poetry run mypy sentieon_cli
      - name: Run flake8
        run: poetry run flake8 . --extend-ignore E231,E221, --exclude .github/scripts/license_message.py,sentieon_cli/scripts/gvcf_combine.py,sentieon_cli/scripts/vcf_mod.py,sentieon_cli/scripts/hybrid_anno.py,sentieon_cli/scripts/hybrid_select.py,sentieon_cli/archive.py,playground,tests # false+ from python 3.12
      - name: Run the automated tests
        run: poetry run pytest -v
      - name: Run doct tests
        run: poetry run pytest --doctest-modules
